<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a href="{{ '/' | relative_url }}" id="a-title">{{ site.title | default: site.github.repository_name }}</a>       
        <a href="./registration.html" id="pagelink">Rules</a>
        <a href="./winners.html" id="pagelink">Winners</a>
        <a href="./sponsors.html" id="pagelink">Sponsors</a>
        <a href="./history.html" id="pagelink">History</a>           
        <a href="./organizers.html" id="pagelink">Organizers</a>  
        <a href="./faq.html" id="pagelink">FAQ</a>        
        <a href="https://www.northeastern.edu/" id="pagelink"> <img src="./assets/images/NU.png" id="logo"> </a>                 
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
